torch==2.8.0
transformers==4.55.0
# GPT-OSS
# transformers-v4.55.0-GLM-4.5V-preview==4.56.0.dev0
fire==0.7.0
accelerate==1.0.1

# common
openai>=0.28.1,<=1.65.5
packaging
numpy
tqdm
datasets==2.14.6

# math_eval
sympy 
# ==1.12
word2number
Pebble
timeout-decorator
latex2sympy2==1.9.1

# livecodebench
psutil

# ifeval
absl-py
langdetect
immutabledict
nltk

flash_attn==2.7.4.post1

git+https://github.com/triton-lang/triton.git@main#subdirectory=python/triton_kernels